<div class="menu-container" [class.hide]="!showNav">
    <div class="menu-content">
        <div class="menu-header" (click)="service.toggle()">
            <div class="menu-header-logo">
                <img [src]="logoUrl" alt="">
            </div>

            <div class="menu-header-name">
                {{ name }}
            </div>
        </div>
        <div class="menu-items">
            <ng-container *ngFor="let item of items">
                <div class="menu-item" [class.child]="item.children?.length" [class.active]="item === parentItem">
                    <div class="menu-item-header" [title]="item.name" (click)="item !== parentItem && itemOnClick(item)">
                        <img class="menu-header-icon" [src]="item.iconURL" alt="">
                        <span class="menu-header-text">{{ item.name }}</span>
                    </div>
                    <div class="menu-item-children" *ngIf="item.children?.length">
                        <div class="menu-item-child menu-item-header" [title]="child.name" *ngFor="let child of item.children" (click)="child !== childItem && itemOnClick(child)" [class.active]="child === childItem">
                            <img class="menu-header-icon" [src]="child.iconURL" alt="">
                            <span class="menu-header-text">{{ child.name }}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
