// Loader
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  width: 20px;
  height: 20px;
  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #000;
    animation: spinner 1s linear infinite;
  }
}

.success-checkmark {
  width: 20px;
  height: 20px;
  margin: 0 auto;

  .check-icon {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 1px solid #4caf50;
    background-color: #4caf50;

    .icon-line {
      &::before, &::after {
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        content: "";
      }
      &::before {
        top: 10px;
        left: 4px;
        width: 6.6px;
        transform: rotate(45deg);
        animation: icon-line-tip-success 0.25s;
      }
      &::after {
        top: 9px;
        left: 7px;
        width: 10px;
        transform: rotate(-45deg);
        animation: icon-line-long-success 0.25s;
      }
    }
  }
}

@keyframes icon-line-tip-success {
  0% {
    top: 10px;
    left: 3px;
    width: 1px;
  }
  100% {
    top: 10px;
    left: 4px;
    width: 6.6px;
  }
}

@keyframes icon-line-long-success {
  0% {
    top: 10px;
    left: 3px;
    width: 1px;
  }
  100% {
    top: 9px;
    left: 7px;
    width: 10px;
  }
}

.fail-checkmark {
  width: 20px;
  height: 20px;
  margin: 0 auto;

  .check-icon {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 1px solid #f27474;
    background-color: #f27474;

    .icon-line {
      &::before, &::after {
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        content: "";
      }

      &::before {
        top: 9px;
        left: 3px;
        width: 14px;
        transform: rotate(45deg);
        animation: icon-line-tip-fail 0.25s;
      }

      &::after {
        top: 9px;
        left: 3px;
        width: 14px;
        transform: rotate(-45deg);
        animation: icon-line-long-fail 0.25s;
      }
    }
  }
}

@keyframes icon-line-tip-fail {
  0% {
    top: 9px;
    left: 3px;
    width: 1px;
    transform: rotate(0);
  }
  100% {
    top: 9px;
    left: 3px;
    width: 14px;
    transform: rotate(45deg);
  }
}

@keyframes icon-line-long-fail {
  0% {
    top: 9px;
    left: 3px;
    width: 1px;
    transform: rotate(0);
  }
  
  100% {
    top: 9px;
    left: 3px;
    width: 14px;
    transform: rotate(-45deg);
  }
}
