<div class="button-container {{type}}" (click)="buttonClick()">
    <div class="button-icon">
        <div class="button-loader" 
            [class.spinner]="loaderEnabled"
            [class.success-checkmark]="successEnabled"
            [class.fail-checkmark]="failEnabled">
            <div class="check-icon">
              <span class="icon-line"></span>
            </div>
        </div>
        <div class="button-icon-src" *ngIf="!loaderEnabled && !successEnabled && !failEnabled && iconUrl">
            <img [src]="iconUrl" alt="">
        </div>
    </div>
    <div class="button-text" *ngIf="text">
        {{ text }}
    </div>
</div>