<div class="welcome-page">
    <img src="/magneto/assets/hello.svg" alt="">
    <h1>Hello Dev!</h1>
    <p><b>Magneto UI</b> is a Angular Component Library. Why the name Magneto🧐 ? Its my GamerTag:[<b>DeadMagneto</b>] 😉.</p>
    <p>Mag Framework targets <b><i>Modular, Reusable and Customizable</i></b> UI Components for Angular Dashboard Projects with almost zero additional dependencies. Components are optimized for responsive design with css theming solution.</p>
    <p style="text-align: center;">All Components are under Open Source and Free to use MIT License.</p>
    <br>
    <p style="text-align: center;">More Details will be provided after we release the library for everyone. Grateful for your support 🙏</p>
</div>