<div class="user-card">
    <div class="profile-image">
        <img src="https://ouch-cdn2.icons8.com/T2zDrigId4-5KaiFvgKYWYOw81UcL3soDTdOxZHPIww/rs:fit:462:456/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNjM2/LzRhZWMyYjI3LWU1/MTktNGRkZC1iY2Nl/LWI2NTYwNTdiOWNk/YS5zdmc.png" alt="">
    </div>
    <div class="card">
        <div class="name">
            John Doe
        </div>
        <div class="sub-section">
            john@doe.com
        </div>
        <div class="sub-section">
            9898989898
        </div>
        <div class="more-details">

        </div>
        <div class="action">
            View Details
        </div>
    </div>
</div>