<div class="main-layout">
    <mag-ui-menu-bar></mag-ui-menu-bar>
    <div class="view-layout">
        <div class="header" #header>
            <div class="breadcrumb">
                <a href="#" class="page">Page 1</a> /
                <a href="#" class="page">Page 1</a> /
                <a href="#" class="page">Page 1</a> /
                <a href="#" class="page">Page 1</a> 
            </div>
            <input type="text">
        </div>
        <div class="content">
            <div class="main-content">
                <ng-content></ng-content>
            </div>
            <div class="nav-footer-content"></div>
        </div>
    </div>
</div>