<h1>Buttons</h1>
<div class="buttons-preview">
    <label for="">Solid</label>
    <mag-button [buttonText]="'Button'" [type]="'solid'"></mag-button>
    <mag-button [buttonText]="'Icon Button'" [icon]="'https://www.svgrepo.com/show/353396/angular-icon.svg'" [type]="'solid'"></mag-button>
    <mag-button [icon]="'https://www.svgrepo.com/show/353396/angular-icon.svg'" [type]="'solid'"></mag-button>
    <label for="">Light</label>
    <mag-button [buttonText]="'Button'" [type]="'light'"></mag-button>
    <label for="">Outline</label>
    <mag-button [buttonText]="'Button'" [type]="'outline'"></mag-button>
    <label for="">Ghost</label>
    <mag-button [buttonText]="'Button'" [type]="'ghost'"></mag-button>
    <label for="">Link</label>
    <mag-button [buttonText]="'Button'" [type]="'link'"></mag-button>
    <label for="">Default</label>
    <mag-button [buttonText]="'Button'" [type]="'default'"></mag-button>
</div>