/* You can add global styles to this file, and also import other style files */
@import "./components/@styles/base.scss";
@import "./components/@themes/mixins";
@import "./components/@themes/variables";
@import "./components/@themes/themes.scss";

::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar {
    width: 3px;
    height: 6px;
    border-radius: 40%;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
