<div class="main-card">
    <div class="card-header">
        <span style="font-weight: bold;">Lorem Ipsum</span>
    </div>
    <div class="card-body">
        <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus pharetra lacinia. Nunc vehicula ipsum turpis, vel dictum augue ullamcorper at. Nam eget feugiat mauris. Nam eu lorem eu dolor lacinia fermentum non id arcu. Mauris convallis sapien nec sodales tempor. Sed nunc turpis, porta sed gravida at, venenatis ut diam. Vivamus augue sapien, tempor vitae maximus nec, elementum quis metus. Donec ut ultricies velit. Ut maximus lacinia nunc, in facilisis justo pharetra vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sollicitudin vulputate nisl quis rhoncus. Ut luctus volutpat diam vitae mattis. Ut diam urna, vestibulum at velit et, egestas finibus mi. In sit amet dapibus diam.
        </span>
        
    </div>
</div>